body {
  font-family: Arial;
  background: #eaf6ef;
}

.container {
  width: 420px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

progress {
  width: 100%;
  height: 18px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
